    <nav class="navbar navbar-expand-lg justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="#">Tenzin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{url_for('cbpro.index')}}">Dashboard</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{url_for('auth.login')}}">Login</a>
                </div>
                <!-- <span class="navbar-text">
                Navbar text with an inline element
                </span> -->
            </div>
        </div>
        
    </nav>